.footer{
    background:  linear-gradient(to top,
    rgba(#FE632E, 0.9), 
    rgba(red, 0.8));
    color: seashell;
    padding: 10rem 0;
    font-size: 1.4rem;
}

.footer__copyright{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}