.blog-list-grid{
    display: flex;
    padding: 1rem;
}


.col-left{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    padding: 1rem;
}

.col-right{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.latest-post{
    text-align: center;

    &__primary-title{
        font-size: 2.5rem;
    }

    &__title{
        font-size: 1.8rem;
        color: #344;
    }

    &__link{
        text-decoration: none;
    }
}

.featured-post{
    text-align: center;

    &__primary-title{
        font-size: 2.5rem;
    }

    &__title{
        font-size: 1.8rem;
        color: #344;
    }

    &__link{
        text-decoration: none;
    }
}

.category{
    text-align: center;

    &__primary-title{
        font-size: 2.5rem;
    }

    &__title{
        font-size: 1.8rem;
        color: #344;
    }
}