{% load static %}


<header class="header">
    <nav class="navbar">
        <div class="brand">
            <a href="{% url 'post-list' %}"><img src="#" alt="Brand Logo"></a>
        </div>
        <ul class="nav_list">
           <li class="nav-items"><a href="{% url 'post-list' %}" class="nav-links">Blog</a></li>
           <li class="nav-items"><a href="{% url 'about' %}" class="nav-links">About</a></li>
           <li class="nav-items"><a href="{% url 'contactus' %}" class="nav-links">Contact</a></li>
        </ul>
    </nav>
    <div class="text-box">
        <h1 class="heading-primary">Blog Content management</h1>
    </div>
    <div class="cta">
        {% include 'forms/sub_form.html' %}
    </div>
</header>
